.section--wide {
  width: 90%;
  display: grid;
  grid-gap: .8em;
  grid-template-columns: repeat(2, 1fr);
  margin: 5.5em auto;

  h2 {
    font-size: 1.8em;
    margin-bottom: .5em;
  }
  
  .section--left {
    position: relative;

    #beef--logo {
      position: absolute;
      top: 0;
      left: 10%;
      z-index: -1;
    }
  }

  .section--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 85%;
    }
  }

  
}

@media (max-width: 933px) {
  .section--wide {
    margin: 0 auto;
    grid-template-areas:
    'about-us about-us'
    'beef beef';
    
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    
    .section--left {
      grid-area: beef;
      margin-bottom: 20px;
  
    }
    .section--right {
      grid-area: about-us;
    }
  }
}