.fa-angle-left,
.fa-angle-right {
    font-size: 2.5rem;
    color: $clr-blue-dark;
}

button {
    padding: 0;
}

.section--beer {
    text-align: center;
    padding-top: 2em;
}

.grid-carousel {
    grid-column: 1 / 4;
    display: grid;
    grid: auto-flow / 2em repeat(5, 1fr) 2em;
    max-width: 1000px;
    margin: 1.5em auto;
    position: relative;

    .grid-carousel__button {
        padding: 0;
    }

    &__item {
        @include applyOrder(5);
        transform: scale(.7);

        &.featured {
            transform: scale(1);
        }
    }

    &__caption {
        opacity: 0;
    }

   &__item.featured &__caption {
        opacity: 1;
    }

    &__button {
        all: unset;
        padding: 0;
        &:last-of-type {
            order: 10;
        }
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &::before {
        grid-column: 2 / 4;
        background: linear-gradient(to right, rgba(white, .9), rgba(white, .6));
    }

    &::after {
        grid-column: -2 / -4;
        background: linear-gradient(to left, rgba(white, .9), rgba(white, .6));
    }
}
