footer {
  text-align: center;
  background-color: $clr-blue-base;
  padding: 20px 0;

  img {
    width: 200px;
  }

  p {
    font-family: $ff-title;
    line-height: 1;
    margin: 0;
  }
}