@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Open+Sans:400,400i");

body {
   font-family: $ff-body;
   font-size: 1.3125rem;
   line-height: 1.6;
   color: $clr-brown-dark;
   font-weight: $fw-normal;
}

h1 {
    padding: 0;
}